<div class="row">
  <div class="col-md-12">
    <h1>All landings</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to "New Landing", new_landing_path, class: 'btn btn-big btn-primary'%>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Domain_name</th>      
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @landings.each do |l|%>
      <tr>
        <td><%= l.name %></td>
        <td>TODO</td>
        <td><%= l.domain_name %></td>
        <td><%= link_to "Edit", edit_landing_path(l) %></td>
        <td><%= link_to "Destroy", landing_path(l), method: :destroy %></td>
        <td><%= link_to "Preview", edit_landing_path(l) %></td>
      </tr>
    <% end %>
  </tbody>
</table>